<header>
    <nav class="navbar navbar-expand-sm">
      <div
        class="navbar-collapse justify-content-between mx-2"
        id="navbarSupportedContent"
      >

        <div>
             <a href="/api" target="_blank" type="button" class="btn btn-warning ">Endpoints Api</a>
        </div>
        <div>
             <a href="http://localhost:3000/" target="_blank" type="button" class="btn btn-secondary ">Facturacion</a>
        </div>
      </div>
    </nav>
  </header>