<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %> 
    <title>Document</title>
</head>
<body>
  <%- include('../partials/header.ejs') %> 

  <div class="my-5">
    <form action="/users/login" method="POST" id="login-form">
        <div class="container-md">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">Entrar</button>
        <a type="button" class="btn btn-danger" href="/users/register">Registrarse</a>
        </div>
      </form>
      <% if(alert){ %> 
        <div class="alert alert-danger my-5 text-center" role="alert">
          Credenciales incorrectas
        </div>
        <% } %> 
    </div>
    
</body>
</html>